# Hey group, this is a sample pipeline file.

stages:
    - build
    - test
    
# Define a job called build
build:
    stage:build
    script:
        - echo "Job: Building"
        
# Define a job called test
test:
    stage: test
    script:
        - echo "Job: Testing"