# image: node:latest
stages:
  - run_jobs
  - build
  - test

variables:
  MYSQL_DATABASE: react_spring
  MYSQL_ROOT_PASSWORD: password

gitab_mysql_service:
  stage: run_jobs
  image: alpine:latest
  services:
  - mariadb:latest

script:
   - apk --no-cache add mysql-client
   - mysql --version
   - sleep 20
   - echo "SHOW tables;"| mysql -u root -p"$MYSQL_ROOT_PASSWORD" -h 127.0.0.1 "${MYSQL_DATABASE}"

cache:
  paths:
    - node_modules/
    - ./code/client/node_modules/

install-npm-dependencies:
  stage: build
  tags:
    - shell
  script:
    - cd ./code/client
    - npm install
  #only:
  #  - master
  artifacts:
    paths:
      - node_modules/
  
maven-test:
  stage: test
  tags: 
    - shell
  script: 
    - cd ./code/server
    - mvn clean test
  only:
    - master