stages:
  - build
  - test
  - deploy

cache:
  paths:
    - ./code/client/node_modules/

install-npm-dependencies:
  stage: build
  tags:
    - shell
  script:
    - cd ./code/client
    - npm install
  only:
    - master
  artifacts:
    paths:
      - node_modules/

maven-test:
  stage: test
  tags:
    - shell
  script:
    - cd ./code/server
    - mvn clean test
    - awk -F"," '{ instructions += $4 + $5; covered += $5 } END { print covered, "/", instructions, "instructions covered"; print 100*covered/instructions, "% covered" }' target/site/jacoco/jacoco.csv
  only:
    - master

deploy-to-heroku:
  stage: deploy
  tags:
    - shell
  script:
    - pwd && ls
    - rm -rf ../visualising-transport-networks
    - mkdir ../visualising-transport-networks
    - rm -rf ./code/client/node_modules ./code/client/package-lock.json
    - cp -rf ./code/client/. ../visualising-transport-networks
    - cd ../visualising-transport-networks
    - pwd && ls
    - npm install
    - ls
    - git init
    - git remote add heroku https://heroku:$HEROKU_API_KEY@git.heroku.com/visualising-transport-networks.git
    - git add .
    - git commit -m "CI Deploy"
    - git push -f heroku master
    - rm -rf ../visualising-transport-networks
  only:
    - master
