image: docker:latest

# Variable for performance enhancements
variables:
  DOCKER_DRIVER: overlay
  
# Services required for running
services:
  - docker:dind
  - gcc:latest

# Before script excecutes before stages
before_script:
  - apk --update add python py-pip openssl ca-certificates py-openssl wget
  - apk --update add --virtual build-dependencies libffi-dev openssl-dev python-dev py-pip build-base
  - apk add --no-cache python py2-pip
  - pip install --no-cache-dir docker-compose
  - docker-compose -v
  - docker login gitlab.ecs.vuw.ac.nz:4567/engr300-2019/project-07/visualising-our-transport-networks -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

stages:
  - build
  - test
  - push
  - deploy
  
# Build the images and pushes it to gitlab registry
build_image:
  stage: build
  tags:
    - docker
  script:
    - docker-compose build
    - docker push visualising-our-transport-networks_client:latest
    - docker push visualising-our-transport-networks_spring-boot:latest
    - docker push mysql:8.0.17

# Run containerised tests
test:
  stage: test
  tags:
    - docker
  script:
    - echo "Tests here"
    
# Push images to heroku
push_images:
  stage: push
  tags: 
  - docker
  script:
    - echo "push here"
  
# Release images 
deploy_images:
  stage: deploy
  tags: 
  - docker
  script:
    - echo "deploy here"
