# image: node:latest
services:
- mysql

variables:
  # Configure mysql service (https://hub.docker.com/_/mysql/)
  MYSQL_DATABASE: database
  MYSQL_ROOT_PASSWORD: password

connect:
  image: mysql
  script:
  - echo "SELECT 'OK';" | mysql --user=root --password="$MYSQL_ROOT_PASSWORD" --host=mysql "$MYSQL_DATABASE"

stages:
  - build
  - test

cache:
  paths:
    - node_modules/
    - ./code/client/node_modules/

install-npm-dependencies:
  stage: build
  tags:
    - shell
  script:
    - cd ./code/client
    - npm install
  #only:
  #  - master
  artifacts:
    paths:
      - node_modules/
  
maven-test:
  stage: test
  tags: 
    - shell
  script: 
    - cd ./code/server
    - mvn clean test
  #only:
  # - master