# image: node:latest
stages:
  - build
  - test
  - deploy
  
cache:
  paths:
    - node_modules/
    - ./code/client/node_modules/

install-npm-dependencies:
  stage: build
  tags:
    - shell
  script:
    - cd ./code/client
    - npm install
  #only:
    #- master
  artifacts:
    paths:
      - node_modules/
  
maven-test:
  stage: test
  tags: 
    - shell
  script: 
    - cd ./code/server
    - mvn clean test
    - "mvn jacoco:report"
    - "echo \"$(cat target/site/jacoco/testcoverage.txt)% covered\""
  #only:
    #- master
