image: docker:latest

# Variable for performance enhancements
variables:
  - DOCKER_DRIVER: overlay
  
# Services required for running
services:
  - docker:dind

# Before script excecutes before stages
before_script:
  - apk add --no-cache python py2-pip
  - pip install --no-cache-dir docker-compose
  - docker-compose -v
