image: docker:latest

# Variable for performance enhancements
variables:
  DOCKER_DRIVER: overlay2
  DOCKER_HOST: tcp://localhost:2375
  # DOCKER_HOST: /var/run/docker.sock
  DOCKER_TLS_CERTDIR: ""

  # Services required for running
services:
    - docker:dind
    
# Before script excecutes before stages
before_script:
  - docker login -u $CI_DEPLOY_USER -p $CI_DEPLOY_PASSWORD $CI_REGISTRY
  - apk --update add python py-pip openssl ca-certificates py-openssl wget
  - apk --update add --virtual build-dependencies libffi-dev python-dev py-pip build-base
  - apk add --no-cache python py2-pip
  - pip install --no-cache-dir docker-compose
  - docker-compose -v

stages:
  - build
  - test
  - push
  - deploy
  
# Build the images and pushes it to gitlab registry
build_image:
  # image: docker:18.09.7
  stage: build
  tags:
    - docker
  script:
    - docker-compose build
    # - docker build -t gitlab.ecs.vuw.ac.nz:4567/engr300-2019/project-07/visualising-our-transport-networks ./code/client/
    # - docker build -t gitlab.ecs.vuw.ac.nz:4567/engr300-2019/project-07/visualising-our-transport-networks ./code/server/
    # - docker pull mysql:8.0.17
    # - docker tag mysql:8.0.17 gitlab.ecs.vuw.ac.nz:4567/engr300-2019/project-07/visualising-our-transport-networks
    # - docker push gitlab.ecs.vuw.ac.nz:4567/engr300-2019/project-07/visualising-our-transport-networks

# Run containerised tests
test:
  stage: test
  tags:
    - docker
  script:
    - echo "Tests here"
    
# Push images to heroku
push_images:
  stage: push
  tags: 
  - docker
  script:
    - echo "push here"
  
# Release images 
deploy_images:
  stage: deploy
  tags:
    - docker
  script:
<<<<<<< HEAD
    - git push -f heroku HEAD:refs/heads/master
  environment:
    name: deployment
    url: https://visualising-transport-networks.herokuapp.com/
  only:
    - master
=======
    - echo "deploy here"
>>>>>>> docker-heroku-deploy
