image: docker:latest

# Variable for performance enhancements
variables:
  DOCKER_DRIVER: overlay
  
# Services required for running
services:
  - docker:dind
  - gcc:latest

# Before script excecutes before stages
before_script:
  - apt-get update
  - apt-get install gcc
  - apk add --no-cache python py2-pip
  - pip install --no-cache-dir docker-compose
  - docker-compose -v

stages:
  - test
  
test:
  tags:
    - docker
  stage: test
  script:
    - docker-compose -v