# image: node:latest
stages:
  - build
  - test
  - deploy
  
cache:
  paths:
    - node_modules/
    - ./code/client/node_modules/

install-npm-dependencies:
  stage: build
  tags:
    - shell
  script:
    - cd ./code/client
    - npm install
  only:
    - master
  artifacts:
    paths:
      - node_modules/
  
maven-test:
  stage: test
  tags: 
    - shell
  script: 
    - cd ./code/server
    - mvn clean test
    - awk -F"," '{ instructions += $4 + $5; covered += $5 } END { print covered, "/", instructions, "instructions covered"; print 100*covered/instructions, "% covered" }' target/site/jacoco/jacoco.csv
  only:
    - master
