# image: node:latest
stages:
  - build
  - connect
  - test

cache:
  paths:
    - node_modules/
    - ./code/client/node_modules/

install-npm-dependencies:
  stage: build
  tags:
    - shell
  script:
    - cd ./code/client
    - npm install
  only:
    - master
  artifacts:
    paths:
      - node_modules/
      
mysql_build:
  stage: connect
  tags:
    - shell
  variables:
    MYSQL_DATABASE: react_spring
    MYSQL_ROOT_PASSWORD: password
  services:
  - mysql
  image: mysql
  before_script:
  - mysql --version
  script:
  - echo "SELECT 'OK';" | mysql --user=root --password="${MYSQL_ROOT_PASSWORD}" --host=localhost "${MYSQL_DATABASE}"

  
maven-test:
  stage: test
  tags: 
    - shell
  script: 
    - cd ./code/server
    - mvn clean test
  only:
    - master