/* .container {
  padding: 0px 0;
  text-align: center;
  width: 80vw;
  position: relative;
}

 h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

 p {
  font-weight: 400;
  color: #999;
  width: 300px;
  height: 100px;
  padding: 20px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -px 0 0 -170px;
} */
.Home .lander {
  text-align: center;
  width: 80vw;
}

.About .landing h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
