.MuiToolbar-root-1 {
    position: fixed;
    left: 0px;
    top: 0px;
}

/* <div class="MuiToolbar-root-1 MuiToolbar-regular-3 MuiToolbar-gutters-2 toolbar"><button class="MuiButtonBase-root-11 MuiIconButton-root-5 MuiIconButton-colorInherit-6" tabindex="0" type="button" aria-label="Open drawer" edge="start"><span class="MuiIconButton-label-10"><svg class="MuiSvgIcon-root-14" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></svg></span><span class="MuiTouchRipple-root-183"></span></button></div> */